.vs/
/ProyectoWeb/obj/Debug/net8.0/ProyectoWeb.AssemblyInfo.cs
/ProyectoWeb/obj/Debug/net8.0/ProyectoWeb.AssemblyInfoInputs.cache
/ProyectoWeb/obj/Debug/net8.0/ProyectoWeb.assets.cache
/ProyectoWeb/obj/Debug/net8.0/ProyectoWeb.GeneratedMSBuildEditorConfig.editorconfig
/ProyectoWeb/obj/project.assets.json
/ProyectoWeb/obj/project.nuget.cache
/ProyectoWeb/obj/ProyectoWeb.csproj.nuget.dgspec.json
/ProyectoWeb/obj/ProyectoWeb.csproj.nuget.g.props
