@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="~/css/acerca.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="section1">
        <div class="text"></div>
        <img class="logo" src="/images/LogoBookHub.jpg" alt="Logo de BookHub" />
    </div>
    <div class="section2">
        <div class="text">
            <h2>Bienvenido al sistema BookHub</h2>
            <p>Este sistema permite la gestión eficiente de préstamos y devoluciones de libros, el registro de usuarios y el control de inventario de una biblioteca. Facilita el acceso a la información de los libros disponibles y agiliza los procesos administrativos.</p>
            <h3>Objetivos del Proyecto</h3>
            <ul>
                <li>Generar facturas digitales en cada transacción de préstamo o venta, registrando datos clave del cliente y empleado.</li>
                <li>Automatizar el envío de comprobantes electrónicos a los clientes mediante correo electrónico.</li>
                <li>Ofrecer una opción intuitiva para que los usuarios elijan entre alquiler o compra de material bibliográfico.</li>
                <li>Implementar la digitalización y almacenamiento seguro de documentos generados en PDF.</li>
            </ul>
            <img src="~/images/LogoBookHub.jpg" alt="Logo del sistema BookHub" style="max-width: 200px; height: auto; margin-top: 20px;">
        </div>
    </div>
</body>
</html>