@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="~/css/acerca.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="section1">
        <div class="text"></div>
        <img class="logo" src="/images/LogoBookHub.jpg" alt="Logo de BookHub" />
    </div>
    <div class="section2">
        <div class="text">PRUEBA SECCION 2</div>
    </div>
</body>
</html>
