@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f4f4f4;
        }

        .login-container {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 320px;
            max-width: 100%;
        }

        h2 {
            text-align: center;
        }

        .input-field {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .register-btn, .back-btn {
            width: 100%;
            padding: 10px;
            background-color: #e54725;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            .register-btn:hover, .back-btn:hover {
                background-color: #d43f1b;
            }

        img {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
    </style>
</head>
<body style="background-image: url('/images/fondologin.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">

    <div class="login-container">
        <img src="/images/LoginUser.png" alt="Banner Registro">
        <h2>Registro</h2>
        <form action="/Home/Guardar" method="post">
            <input type="text" class="input-field" name="fullName" placeholder="Nombre completo" required>
            <input type="text" class="input-field" name="cedula" placeholder="Cédula" required>
            <input type="email" class="input-field" name="email" placeholder="Correo electrónico" required>
            <input type="text" class="input-field" name="phone" placeholder="Teléfono" required>
            <input type="text" class="input-field" name="address" placeholder="Dirección" required>
            <button type="submit" class="register-btn">Registrarse</button>
        </form>
        <form action="/Home/Login" method="get">
            <button type="submit" class="back-btn">Volver al Login</button>
        </form>
    </div>

</body>
</html>
